html, body {
    height: 100%;
    text-align: center;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #results {
    display:none;
    width:750px;
  }

label.btn {
    padding: 18px 60px;
    white-space: normal;
}

label.btn:hover {
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}

[type='radio'] {
    display: none; 
}

label.btn-purple {
    background-color: blueviolet;
    color: white;
}

label.btn-pink {
    background-color: pink;
    color: white;
}

#result-photo{
    max-width: 200px;
    max-height: 200px;
}